streetviewInterface/venv/
gis/venv/
aws_manager/venv/
gis/supporting_files/ZONING_PLY.csv
streetviewInterface/mySite/mySite/secret_keys_and_passwords.py
.DS_Store
*.pyc
__pycache__
migrations/
db.sqlite3
streetviewInterface/mySite/media/
ssh_key.pem
visualize/output/
data.txt
main.m~
streetviewInterface/mySite/output/
python_scripts/*.jpg
python_scripts/secret_keys.py
aws_manager/devenv-key.pem
.Rapp.history
*.pkl
*.jpg
*.png
google/*
ocr/*
log.txt
