{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
<style>

</style>

{% endblock %}

{% block title %}
  List
{% endblock %}

{% block body_block %}
  <div class="content">


    <h1>{{ message }}</h1>

    <h2>Admin panel</h2>
    <h1>{{ message }}</h1>

    <hr>
    <hr>
    <h1>{{ message }}</h1>

    <h2>Useful</h2>
    <a href="{% url 'ImagePicker:deleteDuplicateMapPoints' %}">Delete duplicate map points</a>    <br />
    <a href="{% url 'ImagePicker:saveImages' %}">Save images from MapPoints</a>    <br />
    <!--<a href="{% url 'ImagePicker:runGoogleOCR_images' %}">Run google bounding box, ocr on all images</a>    <br /> -->
    <!--<a href="{% url 'ImagePicker:runGoogleOCR_boundingBoxes' %}">Run google ocr on bounding boxes</a>    <br /> -->
    <a href="{% url 'ImagePicker:runGoogleOCR_randomImage' %}">Run googleOCR on a single random image</a>    <br />
    <a href="{% url 'ImagePicker:runLanguageIdentifiction' %}">Run dictionary-based language identification</a>    <br />

    <p>~~~~~~~~~</p>

    <h2>Interface to CTPN, crnn</h2>
    <a href="{% url 'ImagePicker:list_CTPN_metadata' %}">Image metadata for CTPN</a>  <br />
    <a href="{% url 'ImagePicker:list_crnn_metadata' %}">Bounding box metadata for crnn</a> <br />
    <a href="{% url 'ImagePicker:list_ECN_metadata' %}">Bounding box metadata for ECN script identification</a> <br />

    <p>~~~~~~~~~</p>
    <h2>Delete data. CAREFUL</h2>
    <a href="{% url 'ImagePicker:deleteAllMapPoints' %}">Delete all map points</a>  <br />
    <a href="{% url 'ImagePicker:deleteAllStreetviewImages' %}">Delete all images</a><br />
    <a href="{% url 'ImagePicker:deleteAllBoundingBox' %}">Delete all bounding boxes</a><br />
    <a href="{% url 'ImagePicker:deleteAllOcr' %}">Delete all OCR text</a>  <br />
    <a href="{% url 'ImagePicker:deleteAllOcrLanguage' %}">Delete all language detections</a>  <br />
    <a href="{% url 'ImagePicker:initialize_bfs' %}">Delete crawler queue</a><br />
    <a href="{% url 'ImagePicker:read_mapPoint' %}">read mapPoint in</a>  <br />

    <p>~~~~~~~~~</p>
    <h2>I/O</h2>
    <a href="{% url 'ImagePicker:write_mapPoint' %}">write mapPoint out</a>  <br />

  </div>
{% endblock %}
