{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
<style>

.mc-image-container {
  min-width: 300px;
  max-width: 400px;
  overflow: auto;
}

.outline {
  border: 1px solid black;
  display: inline-block;
}

.outline p {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

</style>

{% endblock %}

{% block title %}
  List
{% endblock %}

{% block body_block %}
  <div class="content">

    <div>
      <a href="/{{ boundingBox.streetviewImage.image.url }}">
        <img src="/ImagePicker/boundingBox/{{ boundingBox.pk }}/">
      </a>
    </div>

    <br />
    <br />

    <div class="outline">
      <form action="{% url 'ImagePicker:postManualOCR' %}" method="POST">
        {% csrf_token %}
        text &nbsp; &nbsp; = <input type="text" name="text" size=20><br />
        locale = <input id="marker_tag" type="text" name="locale" size=20><br />
        notes &nbsp; &nbsp; = <input type="text" name="notes" size=20><br />
        <input type="hidden" name="pk" value="{{ boundingBox.pk }}"><br />
        <input type="submit" value="Submit"><br />
      </form>
    </div>


      {% for boundingBox in boundingBoxes %}

      <tr>



          <!-- info -->
          <td>
            <div class="mc-image-container">
              bounding box method: {{ boundingBox.method }}
              <br />
              original image: <a href="/{{ boundingBox.streetviewImage.image.url }}">{{ boundingBox.streetviewImage.image.name }}</a>
              <br />
              tag:
              {% for tag in boundingBox.streetviewImage.mapPoint.mappointtag_set.all %}
                {{ tag }} <br />
              {% endfor %}
            </div>
          </td>

          {% for ocrText in boundingBox.ocrtext_set.all|dictsort:"method" %}
	   <td>
              <div class="mc-image-container">
                method: {{ ocrText.method }}<br />
                text: {{ ocrText.text }}<br />
                locale: {{ ocrText.locale }}<br />
                score: {{ ocrText.score }}<br />
                notes: {{ ocrText.notes }}<br />
                <a href="{% url 'ImagePicker:deleteOcrText' ocrtext_pk=ocrText.pk %}">delete</a>
              </div>
            </td>
          {% endfor %}

          {% if not boundingBox.googleOCR %}
          <td>
            <div class="mc-image-container">
                <a href="{% url 'ImagePicker:runGoogleOCR_boundingBox' boundingBox_pk=boundingBox.pk %}">run google ocr</a>
            </div>
          </td>
         {% endif %}

      </tr>

     {% endfor %}




  </div>
{% endblock %}
