{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
<style>

.mc-image-container {
  min-width: 300px;
  max-width: 400px;
  overflow: auto;
}

.outline {
  border: 1px solid black;
  display: inline-block;
}

.outline p {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

</style>

{% endblock %}

{% block title %}
  List
{% endblock %}

{% block body_block %}
  <div class="content">

    <div>
      <a href="/{{ boundingBox.streetviewImage.image.url }}">
        <img src="/ImagePicker/boundingBox/{{ boundingBox.pk }}/">
      </a>
    </div>

    <br />
    <br />

    <div class="outline">
      <form action="{% url 'ImagePicker:postManualOCR' %}" method="POST">
        {% csrf_token %}
        text &nbsp; &nbsp; = <input type="text" name="text" size=20><br />
        locale = <input id="marker_tag" type="text" name="locale" size=20><br />
        notes &nbsp; &nbsp; = <input type="text" name="notes" size=20><br />
        <input type="hidden" name="pk" value="{{ boundingBox.pk }}"><br />
        <input type="submit" value="Submit"><br />
      </form>
    </div>

    <h3>Expanded image</h3>
    <div>
      <a href="/{{ boundingBox.streetviewImage.image.url }}">
        <img src="/ImagePicker/boundingBox_expanded/{{ boundingBox.pk }}/">
      </a>
    </div>

    <h3>Notes</h3>
    Notes:
    traffic_sign
    false_positive
    unreadable
    numbers
    truncated
    watermark


    <br />~~~~~~~~~~~<br />
    <a href="{% url 'ImagePicker:deleteBoundingBox' pk=boundingBox.pk %}">Delete (CAREFUL!!)</a><br />


  </div>
{% endblock %}
