<!-- To click on map: https://developers.google.com/maps/documentation/javascript/examples/streetview-service -->
<!-- display position: https://developers.google.com/maps/documentation/javascript/examples/streetview-events -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Street View side-by-side</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map, #pano {
        height: 60%;
        width: 45%;
      }
    </style>

    {% load staticfiles %}
    <script src="{% static 'MCBase/js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'ImagePicker/js/index.js' %}"></script>



  </head>
  <body>

    <button class="picker-button">Click Me!</button>

    <div id="map"></div>
    <div id="pano"></div>




    <script>

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrwkUADkwqTvlC-HbKC_jZuqC3xBxUNLo&callback=initialize">
    </script>





  </body>
</html>
