<!-- see: https://developers.google.com/maps/documentation/javascript/examples/streetview-events -->



{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}

  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #pano, #pano1, #pano2 {
      width: 100%;
      height: 100%;
    }
    #map {
      width: 100%;
      height: 100%;
    }
  </style>


  <script>
  </script>


{% endblock %}

{% block title %}
  index
{% endblock %}

{% block body_block %}

  <h1>Statistics</h1>
  {{ mapPoints }} total MapPoints <br />
  {{ streetviewImages }} images saved <br />
  {{ pending }} pending <br />





  <p>~~~~~~~~~~~~~</p>
  {{ mapPoints }} total MapPoints
  <li>{{ mapPoints_noImage }} have no associated image. <a href="{% url 'ImagePicker:saveImages' %}">Download</a></li>
  <li>{{ numDuplicate_mapPoints }} duplicates. <a href="{% url 'ImagePicker:deleteDuplicateMapPoints' %}">Delete duplicates</a></li>

  <p>~~~~~~~~~~~~~</p>

  {{ streetviewImages }} images saved
  <li>{{ streetviewImages_no_google_BB }} have no google bounding boxes.</li>
  <li>{{ streetviewImages_no_CTPN_BB }} have no CTPN bounding boxes.</li>


  <p>~~~~~~~~~~~~~</p>
  {{ boundingBoxes }} total bounding boxes (this includes dummy bounding boxes generated for images with no text detected)
  <li>{{ boundingBoxes_no_google_text }} bounding boxes have no google ocr text.</li>
  <li>{{ boundingBoxes_no_crnn_text }} bounding boxes have no crnn text.</li>






{% endblock %}
