{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
<script src="{% static 'ImagePicker/js/list.js' %}"></script>
{% endblock %}

{% block title %}
  List
{% endblock %}

{% block body_block %}
  <div class="content">
    <h1>List of all images</h1>

    {% for streetviewImage in streetviewImages %}

      <div class="streetviewImage">

        <img src=
          "//maps.googleapis.com/maps/api/streetview?size=640x640&amp;location={{streetviewImage.latitude}},{{ streetviewImage.longitude}}&amp;fov=90&amp;heading={{streetviewImage.heading}}&amp;pitch={{ streetviewImage.pitch }}&amp;key=AIzaSyBrwkUADkwqTvlC-HbKC_jZuqC3xBxUNLo" width="640" height="640px">
        </div>

      <br />
      <br />

    {% endfor %}

  </div>
{% endblock %}
