{% extends "MCBase/base-extended.html" %}
{% load staticfiles %}

{% block javascript %}
<style>

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

.mc-image-container {
  min-width: 300px;
  max-width: 400px;
  overflow: auto;
}

.outline {
  border: 1px solid black;
  display: inline-block;
}

.outline p {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

</style>

{% endblock %}

{% block title %}
  List
{% endblock %}

{% block body_block %}
  <div class="content">
    <h1>List of all bounding boxes</h1>

    <div class="outline">
      <p>
        total # bounding boxes = {{ total_number }}
      </p>
    </div>

    <br />
    <br />

    <!-- filter -->
    <div class="outline">
      <form action="{% url 'ImagePicker:listBoundingBox' %}" method="POST">
        {% csrf_token %}
        boundingBoxes =
        <input type="text" name="command"><br />
        <input type="submit" value="Submit"><br />
        Examples: <br />
        BoundingBox.objects.exclude(ocrtext__isnull=True)<br />
        BoundingBox.objects.filter(ocrtext__notes__contains="locale=ko")<br />
      </form>
    </div>

    <br />
    <br />

    <!-- Paginator -->
    {% if boundingBoxes.has_other_pages %}
      <ul class="pagination">
        {% if boundingBoxes.has_previous %}
          <li><a href="?page={{ boundingBoxes.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in boundingBoxes.paginator.page_range %}
          {% if boundingBoxes.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if boundingBoxes.has_next %}
          <li><a href="?page={{ boundingBoxes.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}


    <table>
      {% for boundingBox in boundingBoxes %}

      <tr>

          <!-- image -->
          <td>
            <div class="mc-image-container">
                <img src="/ImagePicker/boundingBox/{{ boundingBox.pk }}/">
            </div>
          </td>

          <!-- info -->
          <td>
            <div class="mc-image-container">
              bounding box method: {{ boundingBox.method }}
              <br />
              original image: <a href="/{{ boundingBox.streetviewImage.image.url }}">{{ boundingBox.streetviewImage.image.name }}</a>
              <br />
            </div>
          </td>
          {% for scriptIdentification in boundingBox.scriptidentification_set.all|dictsort:"method" %}
            <td>
              <div class="mc-image-container">
                script identification method: {{ scriptIdentification.method }}<br />
                script: {{ scriptIdentification.language }}<br />
                score: {{ scriptIdentification.score }}<br />
              </div>
            </td>
          {% endfor %}

          {% if boundingBox.crnnOCR %}
          <td>
            <div class="mc-image-container">
                method: {{ boundingBox.crnnOCR.method }}<br />
                text: {{ boundingBox.crnnOCR.text }}<br />
                notes: {{ boundingBox.crnnOCR.notes }}<br />
            </div>
          </td>
          {% endif %}

          <td>
            <div class="mc-image-container">
              {% if boundingBox.googleOCR %}
                method: {{ boundingBox.googleOCR.method }}<br />
                text: {{ boundingBox.googleOCR.text }}<br />
                notes: {{ boundingBox.googleOCR.notes }}<br />
                <a href="{% url 'ImagePicker:deleteOcrText' ocrtext_pk=boundingBox.googleOCR.pk %}">delete</a>
              {% else %}
                <a href="{% url 'ImagePicker:runGoogleOCR_boundingBox' boundingBox_pk=boundingBox.pk %}">run google ocr</a>
              {% endif %}
            </div>
          </td>


      </tr>

      {% endfor %}

    </table>




    <!-- Paginator -->
    {% if boundingBoxes.has_other_pages %}
      <ul class="pagination">
        {% if boundingBoxes.has_previous %}
          <li><a href="?page={{ boundingBoxes.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in boundingBoxes.paginator.page_range %}
          {% if boundingBoxes.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if boundingBoxes.has_next %}
          <li><a href="?page={{ boundingBoxes.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}

  </div>
{% endblock %}
