{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
<style>
  .image_container {
      border: 1px solid #DDDDDD;
      width: 640px;
      height: 640px;
      position:relative;
  }
  .tag {
      float: left;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 500px;
      height: 300px;
      background-color: red;
      opacity: 0.5;
      z-index: 1000;

  }
  .grayscale {
  	filter: grayscale(100%);
    position:relative;
  }

  .grayscale:hover {
    filter: none;
  }

  .image_container:hover .tag {
    opacity: 0.1;
  }


</style>

{% endblock %}

{% block title %}
  List
{% endblock %}

{% block body_block %}
  <div class="content">
    <h1>List of all images</h1>




    <table>
      {% for streetviewImage in streetviewImages %}

      <tr>

          <!-- image -->
          <td>
            <div class="image_container">
              <!-- bounding box overlay -->
              {% for box in streetviewImage.boundingbox_set.all %}
                <div style="left:{{ box.x1 }}px;top:{{ box.y1 }};width:{{ box.width }}px;height:{{ box.height }}px" class="tag"></div>
              {% endfor %}
              <img class="grayscale" src="/{{ streetviewImage.image.url }}" width="640" height="640" >
            </div>
          </td>

          <!-- info -->
          <td>
            {{ streetviewImage.image.name }}
            <br />
            {{ streetviewImage.mapPoint }}
            <br />
            {{ streetviewImage }}
            <br />
            ~~~~~ Bounding boxes ~~~~
            <br />
            {% for box in streetviewImage.boundingbox_set.all %}
              {{ box }}
              <br />
            {% endfor %}

          </td>



      </tr>

      {% endfor %}

    </table>





  </div>
{% endblock %}
