{% extends "MCBase/base-extended.html" %}
{% load staticfiles %}

{% block javascript %}
<style>

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

.mc-image-container {
  min-width: 300px;
  max-width: 400px;
  overflow: auto;
}

.outline {
  border: 1px solid black;
  display: inline-block;
}

.outline p {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

</style>

{% endblock %}

{% block title %}
  List
{% endblock %}

{% block body_block %}
  <div class="content">
    <h1>List of all bounding boxes</h1>

    <div class="outline">
      <p>
        total # bounding boxes = {{ total_number }} <br />
        total # of images = {{ num_images }}
      </p>
    </div>

    <br />
    <br />

    <!-- filter -->
    <div class="outline">
      <form action="{% url 'ImagePicker:listBoundingBox' %}" method="POST">
        {% csrf_token %}
        boundingBoxes =
        <input type="text" name="command" size=100><br />
        <input type="submit" value="Submit"><br />
        Examples: <br />
        BoundingBox.objects.exclude(ocrtext__isnull=True)<br />
        BoundingBox.objects.filter(ocrtext__method__contains="google",ocrtext__locale__contains="locale=ko")<br />
        BoundingBox.objects.filter(ocrtext__method__contains="manual")<br />
        BoundingBox.objects.filter(streetviewImage__mapPoint__mappointtag__tag="thaitown")<br />
        BoundingBox.objects.filter(method="google").filter(streetviewImage__mapPoint__mappointtag__tag="garvey").filter(ocrtext__method="manual",ocrtext__locale="spanish")
      </form>
    </div>

    <br />
    <br />

    <!-- Paginator -->
    {% if boundingBoxes.has_other_pages %}
      <ul class="pagination">
        {% if boundingBoxes.has_previous %}
          <li><a href="?page={{ boundingBoxes.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in boundingBoxes.paginator.page_range %}
          {% if boundingBoxes.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if boundingBoxes.has_next %}
          <li><a href="?page={{ boundingBoxes.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}


    <table>
      {% for boundingBox in boundingBoxes %}

      <tr>

          <!-- image -->
          <td>
            <div class="mc-image-container">
                <img src="/ImagePicker/boundingBox/{{ boundingBox.pk }}/">
            </div>
          </td>

          <!-- info -->
          <td>
            <div class="mc-image-container">
              bounding box pk: {{ boundingBox.pk }} <br />
              bounding box method: {{ boundingBox.method }}
              <br />
              original image: <a href="/{{ boundingBox.streetviewImage.image.url }}">{{ boundingBox.streetviewImage.image.name }}</a>
              <br />
              x1= {{ boundingBox.x1 }}, x2= {{ boundingBox.x2 }}, y1={{ boundingBox.y1 }}, x2={{ boundingBox.y2 }} <br />
              <a href="{% url 'ImagePicker:deleteBoundingBox' pk=boundingBox.pk %}">Delete (CAREFUL!!)</a><br />
              tag:
              {% for tag in boundingBox.streetviewImage.mapPoint.mappointtag_set.all %}
                {{ tag }} <br />
              {% endfor %}
            </div>
          </td>

          {% for ocrText in boundingBox.ocrtext_set.all|dictsort:"method" %}
	   <td>
              <div class="mc-image-container">
                method: {{ ocrText.method }}<br />
                text: {{ ocrText.text }}<br />
                locale: {{ ocrText.locale }}<br />
                score: {{ ocrText.score }}<br />
                notes: {{ ocrText.notes }}<br />
                languageIdentification: {{ ocrText.ocrlanguage_set.all.0.language }}<br />
                <a href="{% url 'ImagePicker:deleteOcrText' ocrtext_pk=ocrText.pk %}">delete</a>
              </div>
            </td>
          {% endfor %}

          {% if not boundingBox.googleOCR %}
          <td>
            <div class="mc-image-container">
                <a href="{% url 'ImagePicker:runGoogleOCR_boundingBox' boundingBox_pk=boundingBox.pk %}">run google ocr</a>
            </div>
          </td>
         {% endif %}

         {% if not boundingBox.manualAnnotation %}
         <td>
           <div class="mc-image-container">
             <form action="{% url 'ImagePicker:postManualOCR' %}" method="POST">
               {% csrf_token %}
               text &nbsp; &nbsp; = <input type="text" name="text" size=20><br />
               locale = <input id="marker_tag" type="text" name="locale" size=20><br />
               notes &nbsp; &nbsp; = <input type="text" name="notes" size=20><br />
               <input type="hidden" name="pk" value="{{ boundingBox.pk }}"><br />
               <input type="submit" value="Submit"><br />
             </form>
           </div>
         </td>
        {% endif %}

      </tr>

     {% endfor %}
    </table>




    <!-- Paginator -->
    {% if boundingBoxes.has_other_pages %}
      <ul class="pagination">
        {% if boundingBoxes.has_previous %}
          <li><a href="?page={{ boundingBoxes.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in boundingBoxes.paginator.page_range %}
          {% if boundingBoxes.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if boundingBoxes.has_next %}
          <li><a href="?page={{ boundingBoxes.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}

  </div>
{% endblock %}
