{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
<style>

</style>

{% endblock %}

{% block title %}
  List
{% endblock %}

{% block body_block %}
  <div class="content">
    <h1>List of all images</h1>




    <table>
      {% for streetviewImage in streetviewImages %}

      <tr>

          <!-- image -->
          <td>
            <div class="streetviewImage">
              <img src="/{{ streetviewImage.image.url }}" width="500" height="300" >
            </div>
          </td>

          <!-- info -->
          <td>
            {{ streetviewImage.image.name }}
            <br />
            {{ streetviewImage.mapPoint }}
            <br />
            {{ streetviewImage }}
            <br />
            ~~~~~ Bounding boxes ~~~~
            <br />
            {% for box in streetviewImage.boundingbox_set.all %}
              {{ box }}
              <br />
            {% endfor %}

          </td>



      </tr>

      {% endfor %}

    </table>





  </div>
{% endblock %}
