{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
<style>

.crop {
    overflow: hidden;
}



</style>

{% endblock %}

{% block title %}
  List
{% endblock %}

{% block body_block %}
  <div class="content">
    <h1>List of all bounding boxes</h1>

    <!-- Paginator -->
    {% if boundingBoxes.has_other_pages %}
      <ul class="pagination">
        {% if boundingBoxes.has_previous %}
          <li><a href="?page={{ boundingBoxes.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in boundingBoxes.paginator.page_range %}
          {% if boundingBoxes.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if boundingBoxes.has_next %}
          <li><a href="?page={{ boundingBoxes.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}


    <table>
      {% for boundingBox in boundingBoxes %}

      <tr>

          <!-- image -->
          <td>
            <div>
              <div class="crop" style="width:{{ boundingBox.width }};height:{{ boundingBox.height }}">
                <img style="margin:-{{boundingBox.y1}}px -{{boundingBox.x1}}px" class="grayscale" src="/{{ boundingBox.streetviewImage.image.url }}">
              </div>
            </div>
          </td>

          <!-- info -->
          <td>
            original image: {{ boundingBox.streetviewImage.image.url }}
          </td>



      </tr>

      {% endfor %}

    </table>




    <!-- Paginator -->
    {% if boundingBoxes.has_other_pages %}
      <ul class="pagination">
        {% if boundingBoxes.has_previous %}
          <li><a href="?page={{ boundingBoxes.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in boundingBoxes.paginator.page_range %}
          {% if boundingBoxes.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if boundingBoxes.has_next %}
          <li><a href="?page={{ boundingBoxes.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}

  </div>
{% endblock %}
