{% extends "MCBase/base-extended.html" %}
{% load staticfiles %}

{% block javascript %}
<style>
  .image_container {
      position:relative;
      margin-bottom: 20px;
  }
  .tag_green {
      float: left;
      position: absolute;
      background-color: green;
      opacity: 0.5;
      z-index: 1000;
  }

  .tag_yellow {
      float: left;
      position: absolute;
      background-color: yellow;
      opacity: 0.5;
      z-index: 1000;
  }
  .grayscale {
  	filter: grayscale(100%);
    position:relative;
  }

  .grayscale:hover {
    filter: none;
  }

  .image_container:hover .tag {
    opacity: 0.1;
  }


</style>

{% endblock %}

{% block title %}
  List
{% endblock %}

{% block body_block %}
  <div class="content">
    <h1>List of all images</h1>

    <!-- Paginator -->
    {% if streetviewImages.has_other_pages %}
      <ul class="pagination">
        {% if streetviewImages.has_previous %}
          <li><a href="?page={{ streetviewImages.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in streetviewImages.paginator.page_range %}
          {% if streetviewImages.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if streetviewImages.has_next %}
          <li><a href="?page={{ streetviewImages.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}



    <table>
      {% for streetviewImage in streetviewImages %}

      <tr>

        <!-- info -->
        <td>
          {{ streetviewImage.image.name }}
          <br />
          {{ streetviewImage.mapPoint }}
          <br />
          panoID = {{ streetviewImage.mapPoint.panoID }}
          <br />
          {{ streetviewImage }}
          <br />
          <br />
          ~~~~~ Bounding boxes ~~~~
          <br />
          {% for box in streetviewImage.boundingbox_set.all %}
            {{ box }}
            <br />
          {% endfor %}
          ~~~~~ Tag ~~~~~
          <br />
          {{ streetviewImage.mapPoint.tag }} <br />
          ~~~~~ Google bounding box ~~~~~
          <br />
           {{ streetviewImage.notes }} <br />
          ~~~~ Admin ~~~~
          <br />
          <a href="/ImagePicker/runGoogleOCR_image/{{ streetviewImage.pk }}">Run google bounding box</a><br />
          <a href="/ImagePicker/deleteStreetviewImage/{{ streetviewImage.pk }}/">Delete (CAREFUL!)</a>
        </td>

          <!-- image -->
          <td>
            <div class="image_container">
              <!-- bounding box overlay -->
              {% for box in streetviewImage.boundingbox_set.all %}
                {% if box.method == 'google' %}
                  <div style="left:{{ box.x1 }}px;top:{{ box.y1 }};width:{{ box.width }}px;height:{{ box.height }}px" class="tag_yellow"></div>
                {% elif box.method == 'CTPN' %}
                  <div style="left:{{ box.x1 }}px;top:{{ box.y1 }};width:{{ box.width }}px;height:{{ box.height }}px" class="tag_green"></div>
                {% endif %}
              {% endfor %}
              <img class="grayscale" src="{{ streetviewImage.image_url }}"  >
            </div>
          </td>





      </tr>

      {% endfor %}

    </table>




    <!-- Paginator -->
    {% if streetviewImages.has_other_pages %}
      <ul class="pagination">
        {% if streetviewImages.has_previous %}
          <li><a href="?page={{ streetviewImages.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in streetviewImages.paginator.page_range %}
          {% if streetviewImages.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if streetviewImages.has_next %}
          <li><a href="?page={{ streetviewImages.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}

  </div>
{% endblock %}
